/*
    app.css 
    
    Main stylesheet 
*/

:root{
    /* Colors */
    --clr-primary: #0693E3;
    --clr-accent: #FFC251;
    --clr-neutral-200: #1D1D1D;
    --clr-neutral-100: #FFFFFF;

    /* Typography */
    --ff-primary: Inter, sans-serif;
    --ff-neutral: Inter, sans-serif;

    --fs-1: 3rem;
    --fs-2: 2rem;
    --fs-3: 1rem;
    --fs-neutral: 0.8rem; 
    --fs-small: 0.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
}

.btn-primary{
    background-color: var(--clr-accent);
    border: none;
}

.link-info:link,
.link-info:visited,
.link-info:hover,
.link-info:focus-visible,
.link-info:active {
    color: var(--clr-accent);
}

h1{
    font-family: var(--ff-primary);
    font-size: var(--fs-1);
    font-weight: bolder;
}

body{
    font-family: var(--ff-neutral);
    font-size: var(--fs-neutral);
    font-weight: normal;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.form-group {
    display: flex;
    column-gap: 10px;
}