#cookie-popup {
    background: var(--clr-accent-200);
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 2em;
    z-index: 8000;
    color: var(--clr-neutral-100);
    transform: translateY(100%);
    transition: transform 0.5s ease;
    box-shadow: 30px 0 20px rgba(0, 0, 0, 0.25);
}

#cookie-popup a{
  color: var(--clr-neutral-100);
  text-decoration: underline;
}
