footer .social {
    background-color: var(--clr-accent-200);
    padding-inline: 10%;
}

footer .content {
    background-color: var(--clr-neutral-200);
    color: var(--clr-neutral-100);
}

footer a,
footer p {
    color: var(--clr-neutral-100);
}

footer .foot {
    margin-top: 8rem;
}

